/**
 * postcss-global css
 */

/*定义单个全局样式*/
:global(.text-green) {
  color: #21ba45; 
}

/*定义多个全局样式*/
:global {
    .bg-gray {
      background-color: gray; 
    }

    .text-blue {
      color: blue;
    }
}

/*不加global是局部样式，必须用obj.key形式调用才有效*/
.text-grey {
  color: #767676; 
}

.bg-blue {
  background-color: blue; 
}


